# Auth.js (Discord OAuth)
JN_AUTH_DISCORD_ID=
JN_AUTH_DISCORD_SECRET=
JN_AUTH_URL=https://jacknetwork.in
JN_AUTH_SECRET=dSdsZLB/O/xlUYVSFBMIXOBWJP/nJHgYtYHyoIFs9Nc=

# Database
JN_DATABASE_URL=file:/home/container/data/app.db

# Server status (optional)
JN_MINECRAFT_STATUS_URL=
