# Auth.js (Discord OAuth)
AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=
AUTH_URL=https://jacknetwork.in
AUTH_SECRET=dSdsZLB/O/xlUYVSFBMIXOBWJP/nJHgYtYHyoIFs9Nc=

# Database
DATABASE_URL=sqlite:./prisma/dev.db

# Server status (optional)
MINECRAFT_STATUS_URL=
